.btn-primary {
    background-color: #007bff;
    border: none;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }

.btn-secondary {
    background-color: #6c757d;
    border: none;
}

    .btn-secondary:hover {
        background-color: #5a6268;
    }

.btn-info {
    background-color: #17a2b8;
    border: none;
}

    .btn-info:hover {
        background-color: #138496;
    }

.btn-success {
    background-color: #28a745;
    border: none;
}

    .btn-success:hover {
        background-color: #218838;
    }

.btn {
    border-radius: 50px;
    padding: 10px 20px;
    margin: 5px;
}
