@model ShowTraineeResultWithCourseViewModel

@{
    ViewData["Title"] = "ShowTraineeResultWithCourseViewModel";
}

@* <h1>ShowTraineeResult</h1>
 *@

<div style="color:@Model.Color">
    @Model.Course_name
    @Model.Degree
    @Model.Trainee_name

</div>


<style>
    color : "green"
</style>